.instructions-container {
  border: 1px solid white; /* Add a 1px white border */
  padding: 10px; /* Optional: Add some padding inside the border */
  height: 70vh; /* Make the container span the height of the viewport */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: relative; /* Ensure the buttons can be positioned absolutely */
}

.instructions-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px; /* Position the buttons at the bottom */
  width: 100%; /* Make the navigation span the full width */
  padding: 0 10px; /* Add some padding to the sides */
}

.nav-button {
}

.nav-button:hover {
  opacity: 0.9;
}

.nav-button.back {
  position: absolute;
  left: 10px;
}

.nav-button.next {
  position: absolute;
  right: 10px;
}